.container {
    height: 300px;
    width: 300px;
    border: 1px solid black;
}
.corpo .no {
    height: 30px;
    width: 30px;
    background: green;
    border-radius: 100%;
    position: absolute;
}